<?xml version="1.0" encoding="utf-8" ?>
<!--
Thông tin cấu hình cho service
INTERVAL: THỜI GIAN SERVICE LẶP LẠI - MILISECONDS
-->
<DATA>
  <CONFIG>
    <INTERVAL>5000</INTERVAL>
    <MYSQL_SERVER>localhost</MYSQL_SERVER>
    <MYSQL_DBNAME>dieukhien</MYSQL_DBNAME>
    <MYSQL_USER>root</MYSQL_USER>
    <MYSQL_PASS></MYSQL_PASS>
    <MYSQL_SSL>0</MYSQL_SSL>
    <UPGRADE_JOB_ENABLE>1</UPGRADE_JOB_ENABLE>
    <UPGRADE_JOB_LOCAL_PATH>/var/www/html/thiet-bi-thanh-phan</UPGRADE_JOB_LOCAL_PATH>
  </CONFIG>
</DATA>
